body {
  margin: 0;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #f6f6f6;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #136cdc;
  border-radius: 4px;
}

::-moz-scrollbar {
  width: 8px;
}

::-moz-scrollbar-thumb {
  background-color: #136cdc;
  border-radius: 4px;
}

::-ms-scrollbar {
  width: 8px;
}

::-ms-scrollbar-thumb {
  background-color: #136cdc;
  border-radius: 4px;
}
